<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signin</title>
</head>
<body>
    <div>
        <h1>sign in</h1>
        <hr/>
        <div style="color: red;" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div style="color: red;" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form name="form" th:action="@{/login}" action="/login" method="POST">
            username: <input type="text" name="username"/><br/>
            password: <input type="password" name="password"/><br/>
            <input type="submit" value="sign in"/>
        </form>
    </div>
</body>
</html>